<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
    <title>Them ncc</title>
</head>
<body>
      
     <form action="" method="post" style="text-align:center ;margin-top: 200px;">
        <h3>Thêm Nhà cung cấp</h3>
        <input class="form-control" type="text" name="ten" placeholder="name">
        <br>
        <br>
        <input class="form-control" type="text" name="diachi" placeholder="address">
        <br>
        <br>
        <input class="form-control" type="email" name="email" placeholder="email">
        <br>
        <br>
        <input class="form-control" type="text" name="sodienthoai" placeholder="phone number">
        <br>
        
        <br>
        <button class="btn btn-outline-secondary" type="submit">Thêm ncc</button>
    </form>
</body>
</html>