<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  
    <title>HomeView</title>
   
</head>
<body>
   
    <div style="text-align:center"><h3>Trang chủ quản ly </h3>
        <a href="/managencc"><button class="btn btn-outline-secondary" type="submit">Quản lí thông tin nhà cung cấp</button></a><br>
        <br>
        <a href="/nhaptp/SearchNcc"><button class="btn btn-outline-secondary" type="submit">Nhập trang phuc từ nhà cung cấp</button></a><br>
        <br>
        <a href="/xemthongke"><button class="btn btn-outline-secondary" type="submit">Xem thống kê</button></a><br></div>
</body>
</html>