<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    
    <title>Nhập trang phục</title>
 

  </head>
  <body>

    <h3>Nhập trang phuc</h3>
    <table class="table">
      <tr>
        <th scope="col">Tên</th>
        <th scope="col">Giá</th>
        <th scope="col">Xuất xứ</th>
        <th scope="col">Mô tả</th>
      </tr>      <tr>
        <td th:utext="${tp.ten}" ></td>
        <td th:utext="${tp.gia}" ></td>
        <td th:utext="${tp.xuatxu}" ></td>
        <td th:utext="${tp.mota}" ></td>
      </tr>
 <form action = "" method="post">
 <label> Số lượng:  </label>
 <input name = "count" type="number">
 <button type="submit" > Nhập trang phục </button>
 </form>
    </table>
  </body>
</html>