<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Quản lý thông tin nhà cung cấp</title>
</head>
<body>
    
   <div style="text-align:center ;margin-top: 200px;">
    <h3>Quản lý thông tin nhà cung cấp</h3>
    <a href="/managencc/add"><button class="btn btn-outline-secondary" type="submit">Thêm nhà cung cấp</button></a>
    <br>
    <br>
    <a href="/managencc/edit/search"><button class="btn btn-outline-secondary" type="button">Sửa nhà cung cấp</button></a>
    <br>
    <br>
    <a href="/managencc/delete/search"><button class="btn btn-outline-secondary" type="button">Xóa nhà cung cấp</button></a>
   </div>
</body>
</html>